#logoContainer {
  height: 5vh;
  width: 100%;
  padding: 2px;
  padding-left: 120px;
  /* border: 5px solid red; */
}
#Rules {
  background: #111816;
  color: #fff;
  font-size: 30px;
}
#Mood {
  background: #123037;
  color: #fff;
  font-size: 30px;
}
#Choice_Grid {
  background: #74be98;
  font-size: 30px;
}
#Final_Choice {
  background: #bed28d;
  font-size: 30px;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4vh;
}
/* .right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4vh;
} */
.radio-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.new-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputField {
  font-size: 3vh;
}
/* marquee */

.marquee-container:not(.horizontal)::before {
  background: transparent;
  top: 0;
}
.marquee-container:not(.horizontal)::after {
  background: transparent;
  top: 0;
}

.marquee-container {
  display: inline;
  /* remove dot (can move margin) */
}
.marquee {
  /* display: contents; */
}
.marquee-container-outline {
  height: 400px;
  overflow: hidden;
}
/* .marquee-container-main {
  display: flex;
} */

.didIt {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}
