/* Coolors Exported Palette - https://coolors.co/283911-a68787-b8987f-da432f-5c0711 */

/* CSS HEX */
--kombu-green: #283911ff;
--cinereous: #a68787ff;
--antique-brass: #b8987fff;
--cg-red: #da432fff;
--rosewood: #5c0711ff;

/* CSS HSL */
--kombu-green: hsla(86, 54%, 15%, 1);
--cinereous: hsla(0, 15%, 59%, 1);
--antique-brass: hsla(26, 29%, 61%, 1);
--cg-red: hsla(7, 70%, 52%, 1);
--rosewood: hsla(353, 86%, 19%, 1);

/* SCSS HEX */
$kombu-green: #283911ff;
$cinereous: #a68787ff;
$antique-brass: #b8987fff;
$cg-red: #da432fff;
$rosewood: #5c0711ff;

/* SCSS HSL */
$kombu-green: hsla(86, 54%, 15%, 1);
$cinereous: hsla(0, 15%, 59%, 1);
$antique-brass: hsla(26, 29%, 61%, 1);
$cg-red: hsla(7, 70%, 52%, 1);
$rosewood: hsla(353, 86%, 19%, 1);

/* SCSS RGB */
$kombu-green: rgba(40, 57, 17, 1);
$cinereous: rgba(166, 135, 135, 1);
$antique-brass: rgba(184, 152, 127, 1);
$cg-red: rgba(218, 67, 47, 1);
$rosewood: rgba(92, 7, 17, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-right: linear-gradient(90deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-bottom: linear-gradient(180deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-left: linear-gradient(270deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-top-right: linear-gradient(45deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-bottom-right: linear-gradient(135deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-top-left: linear-gradient(225deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-bottom-left: linear-gradient(315deg, #283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);
$gradient-radial: radial-gradient(#283911ff, #a68787ff, #b8987fff, #da432fff, #5c0711ff);